.container {
  justify-content: center;
  justify-items: center;
  display: flex;
  .avatar {
    flex: 1;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #999;
  }
}
