.article-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 0.6rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
  }

  .author {
    color: #5cb85c;
    font-weight: 500;
    text-decoration: none;
  }

  .date {
    font-size: 0.8rem;
    color: #bbb;
  }

  button {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
    margin-left: 0.5rem;
  }

  .follow-btn {
    border-color: #6c757d;
    color: #6c757d;

    &.active {
      background: #6c757d;
      color: #fff;
    }
  }

  .favorite-btn {
    border-color: #5cb85c;
    color: #5cb85c;

    &.active {
      background: #5cb85c;
      color: #fff;
    }
  }
}