.navbar {
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #5cb85c;
    text-decoration: none;
  }

  .nav {
    list-style: none;
    display: flex;
    gap: 1rem;

    a {
      color: gray;
      text-decoration: none;

      &:hover {
        color: #5cb85c;
      }
    }
  }
}
