.container {
  justify-items: center;
  display: flex;
  width: fit-content;

  .page {
    width: 30px;
    height: 30px;
    border: 0.5px solid rgb(203, 202, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(84, 83, 83);
    cursor: pointer;

    &.active {
      background-color: greenyellow;
      color: white;
    }
  }
}
