.article-preview {
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.article-meta {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.article-meta img {
  width: 32px;
  height: 32px;
  border-radius: 30px;
  margin-right: 10px;
}

.article-meta .info {
  display: flex;
  flex-direction: column;
}

.article-meta .info .author {
  font-weight: 600;
  color: #5cb85c;
}

.article-meta .info .date {
  color: #bbb;
  font-size: 0.8rem;
}

.article-preview h1 {
  font-size: 1.25rem;
  font-weight: 600;
}

.article-preview p {
  color: #999;
}

.article-preview a {
  color: #5cb85c;
  text-decoration: none;
}
