.tag-pill {
  background-color: rgb(199, 197, 197);
  border-radius: 20px;
  padding: 5px 12px;
  font-size: 0.85rem;
  color: #555;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 5px;
}

.tag-pill:hover {
  margin-bottom: 10px;
  background-color: #5cb85c;
  color: #fff;
}
