<div class="banner">
  <h1 class="Text">conduit</h1>
  <p class="title">A place to share your knowledge.</p>
</div>
<nav class="detail">
  <div class="home-page">
    <div class="feed">
      <h3
        style="
          color: green;
          font-size: 15px;
          text-decoration: underline;
          text-underline-offset: 5px;
        "
      >
        Global Feed
      </h3>
      @for (article of articles; track article.title) {
        <div class="article-preview">
          <div class="meta">
            <div class="meta-left">
              <img class="avatar" src="avatar.jfif" />
              <div class="author-info">
                <b class="author-name">{{ article.author }}</b>
                <div class="date">{{ article.date }}</div>
              </div>
            </div>

            <div class="article-actions">
              <button class="like-btn">❤️</button>
            </div>
          </div>

          <h2>{{ article.title }}</h2>
          <p>{{ article.desc }}</p>
          <a routerLink="/readmore" class="Read">Read more...</a>
        </div>
      }
    </div>

    <div class="sidebar">
      <h4>Popular Tags</h4>
      <div class="tag-list">
        @for (tag of tags; track tag) {
          <app-tag-list [tag]="tag"></app-tag-list>
        }
      </div>
    </div>
  </div>
  <app-pagination
    [totalPages]="totalPages"
    [currentPage]="currentPage"
    (pageChange)="loadArticles($event)"
  >
  </app-pagination>
  <app-footer></app-footer>
</nav>
