.article-banner {
  background: #222;
  padding: 2.5rem 0;
}

.article-banner h1 {
  font-size: 2.8rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1.5rem;
}

.article-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.article-meta img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 0.6rem;
}

.article-meta .info {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.article-meta .author {
  color: #5cb85c;
  font-weight: 500;
  text-decoration: none;
}

.article-meta .date {
  font-size: 0.8rem;
  color: #bbb;
}
